<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>looseweight</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="styles/index.css" />
</head>
<body>
    <%- include("_header.ejs") %>
    <main>
        <% locals.exercises.filter(exercise => exercise.category === "Strength Training" || exercise.category === "Leg Day").forEach(exercise => { %>
            <h2><%= exercise.name %></h2>
            <p> description;<%= exercise.description %></p>
            <p> muscle group; <%= exercise.muscle_group %></p>
            <a href="#">get started</a>
        <% }) %>
        <% locals.workouts.filter(workout => workout.category === "Core" || workout.category === "Cardio").forEach(workout => { %>
            <h2><%= workout.name %></h2>
            <p><%= workout.description %></p>
            <a href="#">get started</a>
        <% }) %>
    </main>
    <%- include("_footer.ejs") %> 
</body>

</html>